<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Flask Book Library</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/add">Add Book</a>
        </nav>
    </header>
    <main>
        
    </main>
    <footer>
        <p>&copy; 2024 Flask Book Library</p>
    </footer>
</body>
</html>
